nimcache/
nimblecache/
htmldocs/
*
!/**/
!*.*
feta/files/odsl-316010-9ac42c4cd821.json
*.txt
feta/htmldocs/spreadsheets.idx
feta/htmldocs/spreadsheets.html
feta/htmldocs/server.idx
feta/htmldocs/server.html
feta/htmldocs/nimdoc.out.css
feta/htmldocs/mailFunc.idx
feta/htmldocs/mailFunc.html
feta/htmldocs/googleapi.idx
feta/htmldocs/googleapi.html
feta/htmldocs/files/userData.idx
feta/htmldocs/files/userData.html
feta/htmldocs/dochack.js
*.html
*.json
feta/files/userData.nim

feta/files/userData.nim
feta/files/userData.nim
