nimcache/
nimblecache/
htmldocs/
*
!/**/
!*.*
src/files/odsl-316010-9ac42c4cd821.json
src/files/userData.nim
*.txt
airtravel.csv
try.html
thesis.html
src/htmldocs/spreadsheets.idx
src/htmldocs/spreadsheets.html
src/htmldocs/server.idx
src/htmldocs/server.html
src/htmldocs/nimdoc.out.css
src/htmldocs/mailFunc.idx
src/htmldocs/mailFunc.html
src/htmldocs/googleapi.idx
src/htmldocs/googleapi.html
src/htmldocs/files/userData.idx
src/htmldocs/files/userData.html
src/htmldocs/dochack.js
